.jumbotron{
    background-image: url("https://media.lasvegassun.com/media/img/photos/2019/08/09/20190724_SUN_HSFB_014_t653.jpg?214bc4f9d9bd7c08c7d0f6599bb3328710e01e7b");
    background-repeat: no-repeat;
    background-size: 800px 650px;
    height: 100vh;
}
img{
    width: 300px;
    height: 200px;
}